<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid" *ngIf="isLoggedIn">
    <a class="navbar-brand" [routerLink]="['inicio']">APP DE VIAJES</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" [routerLink]="['turistas']">Turistas</a>
        <a class="nav-link" [routerLink]="['ciudades']">Ciudades</a>
        <a class="nav-link" [routerLink]="['viajes']">Viajes</a>
      </div>
    </div>
  </div>
  <ul class="navbar-nav navbar-collapse justify-content-end">
    <a *ngIf="!isLoggedIn" class="nav-link" [routerLink]="['login']">Login</a>
    <a
      *ngIf="isLoggedIn"
      class="nav-link"
      [routerLink]="['logout']"
      (click)="handleLogout()"
      >Logout</a
    >
  </ul>
</nav>
<ng-content></ng-content>
