<div class="row justify-content-center mt-4" *ngIf="city != null">
  <div class="card col-auto m-4" style="width: 20rem">
    <div class="card-body d-flex flex-column">
      <h4 class="card-title">¿Seguro que desea eliminar el registro?</h4>
      <hr />
      <p class="card-text text-muted"><strong>ID:</strong> {{ city.id }}</p>
      <p class="card-text"><strong>Nombre:</strong> {{ city.name }}</p>
      <p class="card-text">
        <strong>Cantidad de habitantes:</strong>
        {{ city.amountOfPeople }}
      </p>
      <p class="card-text">
        <strong>Sitio más visitado: </strong>
        {{ city.mostVisitedSite }}
      </p>
      <p class="card-text">
        <strong>Hotel más reservado: </strong>
        {{ city.mostReservedHotel }}
      </p>
    </div>
    <div class="card-footer" style="background: transparent">
      <a class="btn btn-primary m-2" (click)="delete(city.id)">Eliminar</a>
      <a class="btn btn-primary m-2" [routerLink]="['../../']">Volver</a>
    </div>
  </div>
</div>
