<div class="row justify-content-center mt-4" *ngIf="trip != null">
  <div class="card col-auto m-4" style="width: 20rem">
    <div class="card-body d-flex flex-column">
      <h4 class="card-title">¿Seguro que desea eliminar el registro?</h4>
      <hr />
      <p class="card-text text-muted"><strong>ID:</strong> {{ trip.id }}</p>
      <p class="card-text">
        <strong>Fecha de viaje: </strong>
        {{ trip.date | date: "EEE dd/MM/yyyy" }}
      </p>
      <p class="card-text">
        <strong>Presupuesto:</strong>
        {{ trip.budget }}
      </p>
      <p class="card-text">
        <strong>Tarjeta de credito: </strong>
        {{ trip.creditCard ? "Sí" : "No" }}
      </p>
      <p class="card-text">
        <strong>Turista: </strong>
        {{ trip.tourist.names }} {{ trip.tourist.surnames }}
      </p>
      <p class="card-text"><strong>Ciudad:</strong> {{ trip.city.name }}</p>
    </div>
    <div class="card-footer" style="background: transparent">
      <a class="btn btn-primary m-2" (click)="delete(trip.id)">Eliminar</a>
      <a class="btn btn-primary m-2" [routerLink]="['../../']">Volver</a>
    </div>
  </div>
</div>
