<div class="row justify-content-center align-items-center mt-4">
  <div class="col-12">
    <h1 class="text-center">
      {{ cityId != null ? "Editar" : "Crear" }} Ciudad
    </h1>
  </div>
  <div class="col-auto border p-4" style="width: 40%">
    <form [formGroup]="cityForm" (ngSubmit)=" action()">
      <div class="mb-3">
        <label for="name" class="form-label">
          <em class="fas fa-signature"></em> Nombre
        </label>
        <input
          type="text"
          class="form-control"
          id="name"
          formControlName="name"
        />
      </div>
      <div class="mb-3">
        <label for="amountOfPeople">
          <em class="fas fa-users"></em> Cantidad de habitantes
        </label>
        <input
          type="number"
          class="form-control"
          id="amountOfPeople"
          formControlName="amountOfPeople"
          onKeyPress="if(this.value.length==9) return false;"
          min="0"
        />
      </div>
      <div class="mb-3">
        <label for="mostVisitedSite" class="form-label">
          <em class="far fa-star"></em> Sitio más visitado
        </label>
        <input
          type="text"
          class="form-control"
          id="mostVisitedSite"
          formControlName="mostVisitedSite"
        />
      </div>
      <div class="mb-3">
        <label for="mostReservedHotel" class="form-label">
          <em class="fas fa-hotel"></em> Hotel más reservado
        </label>
        <input
          type="text"
          class="form-control"
          id="mostReservedHotel"
          formControlName="mostReservedHotel"
        />
      </div>
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="cityForm.invalid"
      >
        Guardar <em class="fas fa-save"></em>
      </button>
    </form>
  </div>
</div>
