<div class="row justify-content-center align-items-center mt-4">
  <div class="col-12">
    <h1 class="text-center">
      {{ touristId != null ? "Editar" : "Crear" }} Turista
    </h1>
  </div>
  <div class="col-auto border p-4" style="width: 40%">
    <form [formGroup]="touristForm" (ngSubmit)="action()">
      <div class="mb-3">
        <label for="id" class="form-label">
          <em class="far fa-user"></em> Identificación
        </label>
        <input
          type="text"
          class="form-control"
          id="id"
          formControlName="id"
          [readonly]="messages.edit"
        />
      </div>
      <div class="mb-3">
        <label for="idType">
          <em class="far fa-id-card"></em> Tipo de identificación
        </label>
        <select class="form-select" id="idType" formControlName="idType">
          <option value="CC">Cedula</option>
          <option value="TI">Tarjeta de identidad</option>
          <option value="PA">Pasaporte</option>
          <option value="RC">Registro Civil</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="names" class="form-label">
          <em class="far fa-signature"></em> Nombres
        </label>
        <input
          type="text"
          class="form-control"
          id="names"
          formControlName="names"
        />
      </div>
      <div class="mb-3">
        <label for="surnames" class="form-label">
          <em class="far fa-signature"></em> Apellidos
        </label>
        <input
          type="text"
          class="form-control"
          id="surnames"
          formControlName="surnames"
        />
      </div>
      <div class="mb-3">
        <label for="dateOfBirth" class="form-label">
          <em class="far fa-calendar"></em> Fecha de nacimiento
        </label>
        <input
          type="date"
          class="form-control"
          id="dateOfBirth"
          formControlName="dateOfBirth"
        />
      </div>
      <div class="mb-3">
        <label for="travelFrequency" class="form-label">
          <em class="far fa-clock"></em> Frecuencia de viaje (meses)
        </label>
        <input
          type="number"
          class="form-control"
          id="travelFrequency"
          formControlName="travelFrequency"
        />
      </div>
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="touristForm.invalid"
      >
        Guardar <em class="fas fa-save"></em>
      </button>
    </form>
  </div>
</div>
