<div class="container mt-4">
  <h1 class="text-center">Ciudades</h1>
  <div>
    <div>
      <a routerLink="crear" class="btn btn-primary">
        Crear nuevo <em class="fas fa-plus"></em>
      </a>
    </div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nombre</th>
          <th scope="col">Cantidad de habitantes</th>
          <th scope="col">Sitio más visitado</th>
          <th scope="col">Hotel más reservado</th>
          <th scope="col">Eliminar</th>
          <th scope="col">Editar</th>
          <th scope="col">Viajes</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let city of cities | paginate: { itemsPerPage: 6, currentPage: p }
          "
        >
          <td>{{ city.id }}</td>
          <td>{{ city.name }}</td>
          <td>{{ city.amountOfPeople }}</td>
          <td>{{ city.mostVisitedSite }}</td>
          <td>{{ city.mostReservedHotel }}</td>
          <td>
            <a
              [routerLink]="['eliminar', city.id]"
              class="btn btn-danger delete"
            >
              <em class="fas fa-trash"></em>
            </a>
          </td>
          <td>
            <a [routerLink]="['editar', city.id]" class="btn btn-success edit">
              <em class="fas fa-edit"></em>
            </a>
          </td>
          <td>
            <a
              [routerLink]="['../viajes/ciudad', city.id]"
              class="btn btn-primary see_trips"
            >
              <em class="fas fa-history"></em>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
    <pagination-controls
      (pageChange)="p = $event"
      previousLabel=" Anterior "
      nextLabel=" Siguiente "
    ></pagination-controls>
  </div>
</div>
