<div class="row justify-content-center mt-4" *ngIf="tourist != null">
  <div class="card col-auto m-4" style="width: 20rem">
    <div class="card-body d-flex flex-column">
      <h4 class="card-title">¿Seguro que desea eliminar el registro?</h4>
      <hr />
      <p class="card-text text-muted">
        <strong>Identificación:</strong> {{ tourist.id }}
      </p>
      <p class="card-text">
        <strong>Nombre:</strong> {{ tourist.names }} {{ tourist.surnames }}
      </p>
      <p class="card-text">
        <strong>Tipo de identificación:</strong> {{ tourist.idType }}
      </p>
      <p class="card-text">
        <strong>Fecha de nacimiento: </strong>
        {{ tourist.dateOfBirth | date: "EEE dd/MM/yyyy" }}
      </p>
      <p class="card-text">
        <strong>Frecuencia de viaje:</strong>
        {{ tourist.travelFrequency }}
      </p>
    <div class="card-footer" style="background: transparent">
      <a class="btn btn-primary m-2" (click)="delete(tourist.id)">Eliminar</a>
      <a class="btn btn-primary m-2" [routerLink]="['../../']">Volver</a>
    </div>
  </div>
</div>
