<div class="row justify-content-center mt-4" *ngIf="trip != null">
  <h1 class="text-center">Detalles del viaje: {{ trip.id }}</h1>
  <div class="card col-auto m-4" style="width: 20rem">
    <div class="card-body">
      <h4 class="card-title">Datos del turista</h4>
      <hr />
      <p class="card-text">
        <strong>Nombre: </strong>
        {{ trip.tourist.names + " " + trip.tourist.surnames }}
      </p>
      <p class="card-text">
        <strong>Identificacion: </strong> {{ trip.tourist.id }}
      </p>
      <p class="card-text">
        <strong>Tipo de identificación: </strong> {{ trip.tourist.idType }}
      </p>
      <p class="card-text">
        <strong>Fecha de nacimiento: </strong>
        {{ trip.tourist.dateOfBirth | date: "dd LLL yyyy":"UTC" }}
      </p>
      <p class="card-text">
        <strong>Frecuencia de viaje: </strong>
        {{ trip.tourist.travelFrequency }}
      </p>
    </div>
  </div>
  <div class="card col-auto m-4" style="width: 20rem" *ngIf="trip != null">
    <div class="card-body">
      <h4 class="card-title">Datos del destino</h4>
      <hr />
      <p class="card-text"><strong>Nombre:</strong> {{ trip.city.name }}</p>
      <p class="card-text">
        <strong>Cantidad de habitantes:</strong>
        {{ trip.city.amountOfPeople }}
      </p>
      <p class="card-text">
        <strong>Sitio más visitado: </strong>
        {{ trip.city.mostVisitedSite }}
      </p>
      <p class="card-text">
        <strong>Hotel más reservado: </strong>
        {{ trip.city.mostReservedHotel }}
      </p>
    </div>
  </div>
  <div class="card col-auto m-4" style="width: 20rem">
    <div class="card-body">
      <h4 class="card-title">Datos del viaje</h4>
      <hr />
      <p class="card-text"><strong>Presupuesto: </strong> {{ trip.budget }}</p>
      <p class="card-text">
        <strong>Fecha de viaje: </strong>
        {{ trip.date | date: "EEE dd/MM/yyyy" }}
      </p>
    </div>
  </div>
  <div class="container-fluid h-100">
    <div class="row w-100">
      <div class="col v-center">
        <button
          class="btn btn-primary d-block mx-auto"
          [routerLink]="['../../']"
        >
          Volver
        </button>
      </div>
    </div>
  </div>
  <div class="p-4" *ngIf="trip == null">
    <h1>Viaje no encontrado</h1>
  </div>
</div>
