<div class="row justify-content-center align-items-center mt-4">
  <div class="col-auto border p-4" style="width: 40%">
    <form [formGroup]="loginForm" (ngSubmit)="handleLogin()">
      <div class="alert alert-warning" *ngIf="invalidLogin">
        {{ errorMessage }}
      </div>
      <div class="mb-3">
        <label for="username" class="form-label">
          <em class="fas fa-user"></em> Username
        </label>
        <input
          type="text"
          class="form-control"
          id="username"
          formControlName="username"
        />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">
          <em class="fas fa-key"></em> Password
        </label>
        <input
          type="password"
          class="form-control"
          id="password"
          formControlName="password"
        />
      </div>
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="loginForm.invalid"
      >
        Ingresar <em class="fas fa-save"></em>
      </button>
    </form>
  </div>
</div>
