<div class="row justify-content-center align-items-center mt-4">
  <div class="col-12">
    <h1 class="text-center">{{ tripId != null ? "Editar" : "Crear" }} viaje</h1>
  </div>
  <div class="col-auto border p-4" style="width: 40%">
    <div class="alert alert-info" role="alert">
      <p>Un turista no puede ir a una ciudad dos veces en un día.</p>
      <p>
        No pueden existir más de 5 viajes para la misma ciudad en la misma
        fecha.
      </p>
    </div>
    <form [formGroup]="tripForm" (ngSubmit)="action()">
      <div class="mb-3">
        <label for="city" class="form-label">
          <em class="fas fa-map-marked-alt"></em> Destino
        </label>
        <select class="form-select" id="city" formControlName="city">
          <option [ngValue]="city" *ngFor="let city of cities">
            {{ city.name }} ({{ city.id }})
          </option>
        </select>
      </div>
      <div class="mb-3">
        <label for="tourist" class="form-label">
          <em class="fas fa-hiking"></em> Turista
        </label>
        <select class="form-select" id="tourist" formControlName="tourist">
          <option [ngValue]="tourist" *ngFor="let tourist of tourists">
            {{ tourist.names }} {{ tourist.surnames }} ({{ tourist.id }})
          </option>
        </select>
      </div>
      <div class="mb-3">
        <label for="date">
          <em class="fas fa-calendar"></em> Fecha de viaje
        </label>
        <input
          type="date"
          class="form-control"
          id="date"
          formControlName="date"
          min="2021-01-01"
          max="2025-01-01"
        />
      </div>
      <div class="mb-3">
        <label for="budget">
          <em class="fas fa-dollar-sign"></em> Presupuesto
        </label>
        <input
          type="number"
          class="form-control"
          id="budget"
          formControlName="budget"
        />
      </div>
      <div class="mb-3">
        <label for="creditCard" class="form-label">
          <em class="fas fa-credit-card"></em> ¿Usa tarjeta de credito?
        </label>
        <select
          class="form-select"
          id="creditCard"
          formControlName="creditCard"
        >
          <option value="true">Sí</option>
          <option value="false">No</option>
        </select>
      </div>
      <button
        [disabled]="tripForm.invalid"
        type="submit"
        class="btn btn-primary"
      >
        Guardar <em class="fas fa-save"></em>
      </button>
    </form>
  </div>
</div>
