<div class="container mt-4">
  <h1 class="text-center">Turistas</h1>
  <div>
    <div>
      <a [routerLink]="['crear']" class="btn btn-primary">
        Crear nuevo <em class="fas fa-plus"></em>
      </a>
    </div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Identificación</th>
          <th scope="col">Tipo de identificación</th>
          <th scope="col">Nombres</th>
          <th scope="col">Apelidos</th>
          <th scope="col">Fecha de nacimiento</th>
          <th scope="col">Frecuencia</th>
          <th scope="col">Eliminar</th>
          <th scope="col">Editar</th>
          <th scope="col">Viajes</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let tourist of tourists
              | paginate: { itemsPerPage: 6, currentPage: p }
          "
        >
          <td>{{ tourist.id }}</td>
          <td>{{ tourist.idType }}</td>
          <td>{{ tourist.names }}</td>
          <td>{{ tourist.surnames }}</td>
          <td>
            {{ tourist.dateOfBirth | date: "dd LLL yyyy":"UTC" }}
          </td>
          <td>{{ tourist.travelFrequency }}</td>
          <td>
            <a [routerLink]="['eliminar', tourist.id]" class="btn btn-danger">
              <em class="fas fa-trash"></em>
            </a>
          </td>
          <td>
            <a [routerLink]="['editar', tourist.id]" class="btn btn-success">
              <em class="fas fa-edit"></em>
            </a>
          </td>
          <td>
            <a
              [routerLink]="['../viajes/turista', tourist.id]"
              class="btn btn-primary"
            >
              <em class="fas fa-history"></em>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
    <pagination-controls
      (pageChange)="p = $event"
      previousLabel=" Anterior "
      nextLabel=" Siguiente "
    ></pagination-controls>
  </div>
</div>
