<div class="container p-5">
  <h1>Bienvenido</h1>
  <p class="lead">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo maxime
    esse omnis qui harum perspiciatis saepe at dolores. Ex expedita doloremque
    sit saepe accusamus, optio nemo quis illo fugiat doloribus
  </p>
</div>
