<div class="container mt-4">
  <h1 class="text-center">Viajes</h1>
  <div>
    <div>
      <a [routerLink]="['crear']" class="btn btn-primary">
        Crear nuevo <em class="fas fa-plus"></em>
      </a>
    </div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Destino</th>
          <th scope="col">Turista</th>
          <th scope="col">fecha</th>
          <th scope="col">Presupuesto</th>
          <th scope="col">Tarjeta de credito</th>
          <th scope="col">Eliminar</th>
          <th scope="col">Editar</th>
          <th scope="col">Detalles</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let trip of trips | paginate: { itemsPerPage: 6, currentPage: p }
          "
        >
          <td>{{ trip.id }}</td>
          <td>{{ trip.city.name }}</td>
          <td>{{ trip.tourist.names + " " + trip.tourist.surnames }}</td>
          <td>{{ trip.date | date: "EEE dd/MM/yyyy":"UTC" }}</td>
          <td>{{ trip.budget }}</td>
          <td>{{ trip.creditCard ? "Sí" : "No" }}</td>
          <td>
            <a [routerLink]="['eliminar', trip.id]" class="btn btn-danger">
              <em class="fas fa-trash"></em>
            </a>
          </td>
          <td>
            <a [routerLink]="['editar', trip.id]" class="btn btn-success">
              <em class="fas fa-edit"></em>
            </a>
          </td>
          <td>
            <a [routerLink]="['detalle', trip.id]" class="btn btn-primary">
              <em class="fas fa-search-plus"></em>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
    <pagination-controls
      (pageChange)="p = $event"
      previousLabel=" Anterior "
      nextLabel=" Siguiente "
    ></pagination-controls>
  </div>
</div>
